
SERVER_ADDR=:8080

RABBITMQ_ADDRESSES=localhost:5672,localhost:5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_DIAL_TIMEOUT=5s
RABBITMQ_REQUESTED_HEARTBEAT=10s
RABBITMQ_RECONNECT_DELAY=5s
RABBITMQ_MAX_RECONNECT_DELAY=1m

RABBITMQ_EXCHANGE=demo.exchange
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_QUEUE=demo.queue
RABBITMQ_ROUTING_KEY=demo.routing.key
RABBITMQ_QUEUE_TYPE=quorum
RABBITMQ_DURABLE=true
RABBITMQ_CONSUMER_TAG=demo
RABBITMQ_PREFETCH_COUNT=10
RABBITMQ_WORKER_COUNT=10
RABBITMQ_MAX_RETRIES=5
RABBITMQ_DELIVERY_LIMIT=5
RABBITMQ_RETRY_TTL=30s
RABBITMQ_RETRY_EXCHANGE=demo.retry.exchange
RABBITMQ_RETRY_QUEUE=demo.retry.queue
RABBITMQ_DLX_EXCHANGE=demo.dlx.exchange
RABBITMQ_DLQ=demo.dlq
RABBITMQ_PUBLISH_TIMEOUT=5s

RATELIMIT_REQUESTS_PER_MINUTE=1000
RATELIMIT_BURST=1